<html>
    <head>
        <title>Confirmation d'inscription</title>
    </head>
    <body>
        <h1>Bienvenue, {{nickname}} !</h1>
        <p>Veuillez cliquer sur le lien ci-dessous pour confirmer votre inscription :</p>
        <a href='{{confirmationLink}}'>Confirmer mon e-mail</a>
    </body>
</html>